name: Test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test-check:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    name: runner (${{ matrix.os }}) / ast-grep (github-check)
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          level: info

  test-pr-check:
    if: github.event_name == 'pull_request'
    name: runner / ast-grep (github-pr-check)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check
          level: warning

  test-pr-review:
    if: github.event_name == 'pull_request'
    name: runner / ast-grep (github-pr-review)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ./
        continue-on-error: true
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          level: error
          filter_mode: file
          fail_level: any
      - name: check the exit code
        if: ${{ !success() }}
        run: echo 'The previous step should fail' && exit 1

  test-sarif:
    name: runner / ast-grep (sarif)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ./
        with:
          reporter: sarif
